<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/add.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
   
    <title>Add Product</title>
    <style>
       
    </style>
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a class="active" href="/admin/add-product">Add Product</a></li>
                 <li class="main-header__item" > <a href="/contact">contact us</a> </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="row justify-content-center">
            <div class="col-6">
                <form action="/contact" method="post" class="form border border-primary p-3 mb-4 rounded border-opacity-75">
                  <div class="container border-bottom border-dark text-center mb-3">
                    <h3  >Get a Call</h3>
                    <p>Book a call and our representative will call you</p>
                  </div>
                  <label for="name">Name</label>
                  <input type="text" class="form-control mp-3" id="name">
                  <label for="email">Email</label>
                  <input type="email" class="form-control mb-3" id="email">
                  <label for="phone">Phone</label>
                  <input type="number" class="form-control mb-3" id="phone">
                
                  <input type="submit" class="form-control btn btn-primary" >
                </form>
  
                <ul id="items" >
                  
                </ul>
  
            </div>
         </div>
    </main>
</body>

</html>